<html>
    <head>
        <title>FIFAワールドカップ</title>
    </head>
    <body>
        <div>
            <h1>FIFAワールドカップ</h1>
        </div>

        <div>
            <p><strong>FIFAワールドカップ</strong>（英: <em>FIFA World Cup</em>）は、<a href="/">国際サッカー連盟</a>（FIFA）が主催する、男子ナショナルチームによるサッカーの世界選手権大会。
              サッカーの大会の世界最高峰と位置付けられ、全世界のテレビ視聴者数や経済効果は<a href="/">オリンピック</a>を凌ぐ世界最大のスポーツイベント。</p>

            <p>女子の世界選手権大会についてはFIFA女子ワールドカップを、クラブチームの世界選手権大会についてはFIFAクラブワールドカップを参照。</p>
        </div>

        <div>
            <h2>概要</h2>
            <ul><li>開始年：1930年</li>
                <li>主催：FIFA</li>
                <li>地域：世界</li>
                <li>参加チーム数：32（本大会）</li>
                <li>前回優勝：<a href="/">ドイツ</a></li>
                <li>最多優勝：<a href="/">ブラジル</a></li>
            </ul>
            <div>
                <p>"FIFAワールドカップトロフィー"</p>
            </div>
        </div>

        <div>
            <h1>FIFAワールドカップ</h1>
        </div>

        <div>
            <h1>FIFAワールドカップ</h1>
        </div>
    </body>
</html>
